/* CSS file or styled-components */
.my-animation {
  /* Define your animation properties here */
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

.logo-icon {
  background: #112c5ef2;
  height: 64px;
  padding: 7px;
  text-align: center;
}
.search-options:hover {
  cursor: pointer;
}
.ant-input-group-addon:hover {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

#login-content {
  display: -webkit-flex;
  height: 92vh;
  -webkit-align-items: center;
  align-items: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.login-wrap {
  width: 330px;
  margin: 0 auto !important;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #ccc;
}

.login-button {
  width: 100%;
}

.logo-login {
  width: 80px;
  display: block;
  margin: 0 auto 15px;
}

.logo-name {
  text-align: center;
}

.ant-dropdown-link {
  color: #fff;
  cursor: pointer;
  margin-left: 16px;
}

.global-header {
  position: relative;
  height: 64px;
  padding: 0;
  // background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  justify-content: space-between;
}
.global-header .header-item {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.2s;
}
.global-header .header-item .badge-box .ant-badge {
  font-size: 16px;
}
.global-header h1 {
  flex: 1;
  margin: 0 0 0 15px;
  font-size: 20px;
  color: #174e94;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.global-header .header-right .ant-badge {
  font-size: 18px;
}
