/* CSS file or styled-components */
.my-animation {
  /* Define your animation properties here */
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

.logo-icon {
  background: #112c5ef2;
  height: 64px;
  padding: 2px;
}
.search-options:hover {
  cursor: pointer;
}
.ant-input-group-addon:hover {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

#login-content {
  display: -webkit-flex;
  height: 92vh;
  -webkit-align-items: center;
  align-items: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.login-wrap {
  width: 330px;
  margin: 0 auto !important;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #ccc;
}

.login-button {
  width: 100%;
}

.logo-login {
  width: 80px;
  display: block;
  margin: 0 auto 15px;
}

.logo-name {
  text-align: center;
}

.ant-dropdown-link {
  color: #fff;
  cursor: pointer;
  margin-left: 16px;
}
